<!DOCTYPE html>
<html ng-app="angular-progress-arc-demo">
<head lang="en">
    <meta charset="UTF-8">
    <title>angular-progress-arc by @mathewbyrne</title>
    <link rel="stylesheet" href="demo.css" />
</head>
<body>
    <header>
        <div class="container">
            <h1>angular-progress-arc</h1>
            <p>An <a href="https://angularjs.org/">AngularJS</a> directive for displaying a circular progress meter.</p>
            <a href="http://github.com/mathewbyrne/angular-progress-arc" class="button">GitHub</a>
        </div>
    </header>
    <div class="demos container">
        <div class="demo demo-1" ng-controller="DemoCtrl">
            <h2>Default</h2>
            <progress-arc progress="progress"></progress-arc>
            <input type="range" min="0.00" max="1.00" step="0.05" ng-model="progress" />
        </div>
        <div class="demo demo-2" ng-controller="DemoCtrl">
            <h2>Custom color and width</h2>
            <progress-arc progress="progress" stroke="#3080E8" stroke-width="100"></progress-arc>
            <input type="range" min="0.00" max="1.00" step="0.05" ng-model="progress" />
        </div>
        <div class="demo demo-3" ng-controller="DemoCtrl">
            <h2>Counter-clockwise & background</h2>
            <progress-arc progress="progress" counter-clockwise="true" background="#eee" stroke="#3080E8"></progress-arc>
            <input type="range" min="0.00" max="1.00" step="0.05" ng-model="progress" />
        </div>
        <div class="demo demo-4" ng-controller="DemoCtrl">
            <h2>CSS styling</h2>
            <progress-arc progress="progress"></progress-arc>
            <input type="range" min="0.00" max="1.00" step="0.05" ng-model="progress" />
        </div>
    </div>
    <footer>
        <p>Created by <a href="http://github.com/mathewbyrne">@mathewbyrne</a></p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="angular-progress-arc.min.js"></script>
    <script>
        angular.module('angular-progress-arc-demo', ['angular-progress-arc'])
            .controller('DemoCtrl', function ($scope) {
                $scope.progress = 0.75;
            });
    </script>
</body>
</html>
